body{
  font-family: 'Acme', sans-serif;
}
.fonts-2{
  font-family: 'Bree Serif', serif;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

 
  .bg-image {
    background-image: url('../Imagen/pic.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    /* margin: 2%; */
  }


  .px-15{
      padding-left: 15%;
      padding-right: 15%;
      
  }

  .fondo1{
    background-color: #025955;
  }

  .fondo2{
    background-color: #CDF0EA;
  }

  
  
  .bg-image2 {
    background-image: url('../Imagen/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* margin: 2%; */
  }
  

  .nav-hover{
    padding: 8px 12px;
    border-radius: 3px;
  }
 .nav-hover:hover{
   background: rgb(16, 141, 141);
   transition: 1s;
 }

 
 

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
